* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #212121;
  color: white;
}
.Boder {
  background-color: rgb(228, 224, 224);
  padding: 15px;
  margin-top: auto;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid black;
}
.center {
  padding: 4px 30px;
  border: 1px solid black;
}

.box {
  display: flex;
  margin: 4px;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.button {
  height: 200px;
  width: 200px;
  border: 2px solid white;
  color: black;
  background-color: white;
  font: bold;
}

#grey {
  background-color: gray;
  border: 1px solid black;
}
#white {
  background-color: white;
  border: 1px solid black;
}
#blue {
  background-color: blue;
  border: 1px solid black;
}
#yellow {
  background-color: yellow;
  border: 1px solid black;
}

h1 {
  text-align: center;
  color: black;
  font: bold;
}
h2 {
  text-align: center;
  color: black;
  font: bold;
  margin: 15px;
}
